:root {
  --primary-color: rgb(22, 197, 203);
  --text-color: rgba(0, 0, 0, 1);
  --secondary-text: rgba(89, 89, 89, 1);
  --bg-color: #fff;
  --light-color: rgb(195, 253, 255);
  --font-family: "Figtree", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 1.5;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 100;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.mobile-only{
  display: none;
}
.nav-icon{
  display:none;
}
.nav-links a.contact{
  display: none;
}
.nav-links a.active {
  color:var(--primary-color);
}
.logo {
  display: flex;
  gap: 10px;
}
.logo-img{
  height: 58px;
  width: 72px;
  margin-right: 8px;
}
.logo-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}
.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 50px;
}
.gtq{
    display: flex;
    justify-content: flex-end;
}
.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.btn-primary, .btn-secondary {
  padding: 12px 24px;
  margin-top: 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
}
.btn-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: var(--bg-color);
  box-shadow:  0 0 10px var(--primary-color);
}
.btn-secondary {
  background: var(--primary-color);
  color: #fff;
  box-shadow:  0 0 10px var(--primary-color);
}
.photo{
  background: url("home_bg_photo.png") no-repeat center center ;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  color: rgb(255, 255, 255);
}
.photo h1{
  font-size: 7vh;
}
.photo p{
  font-size: 3vh;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.highlight {
  color: var(--primary-color);
}
footer {
  position: relative;
  z-index: 10000;
}

/* COLUMNS SECTION */
.features {
  padding: 80px 0;
  background: #fafafa;
  text-align: center;
}
.section-subtitle {
  display: inline-block;
  background: var(--light-color);
  border-radius: 6px;
  padding: 5px 20px;
  margin-top: 20px; 
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
.section-title {
  font-size: 44px;
  max-width: 1240px;
  font-weight: 600;
  margin: 0 auto 40px;
  line-height: 1.3;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.feature-card {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  text-align: center;
}
.feature-card img {
  width: 200px;
  margin-bottom: 20px;
}
.feature-card h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.feature-card p {
  color: var(--secondary-text);
  font-size: 18px;
}

/* RESPONSIVE */
@media (max-width: 900px) {

  .mobile-only{
    display: block;
  }

  .nav-links.active .nav-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .nav-links.active a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-links.active a.contact{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-radius: 30px;
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 10px var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    align-items: left;
    opacity: 1;
    background: rgb(195, 253, 255);  
  }
  .nav-links.active {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    z-index: 99;
    right: 0;
  }
  .menu-icon {
    display: block;
  }
  .features-grid {
    grid-template-columns: 1fr 1fr;
  }
  .nav-container {
    flex-wrap: wrap;         
  }

  .gtq {
    display: none;   
  }

  .nav-links.active + .nav-cta {
    display: block;    
    justify-content: center;
  }

  .menu-icon {
    display: block;     
}
}

@media (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }  
}

/* MOBILE SPECIFIC */
@media (max-width: 480px) {

  .btn-primary, .btn-secondary {
    width: 80%; 
    text-align: center;
    font-size: 16px; 
    padding: 10px 0;
    margin: 0 auto;
  }

  /* NAVBAR */
  .nav-links {
    width: 200px;
    padding: 15px;
  }
  /* FEATURES SECTION */
  .features {
    padding: 50px 15px;
  }

  .section-title {
    font-size: 22px;
    line-height: 28px;
  }

  .features-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .feature-card img {
    width: 50px;
    margin-bottom: 15px;
  }

  .feature-card h4 {
    font-size: 16px;
  }

  .feature-card p {
    font-size: 13px;
  }
}
